<a href="/"><span>Back to Inventory</span></a>
<br>

<h1>Sales</h1>

<br>
<table>
	<thead>
		<tr>
			<th scope="col"> Record Title </th>
			<th scope="col"> Sale Quantity </th>
			<th scope="col"> Cost of Units </th>
			<th scope="col"> Price of Units </th>
			<th scope="col"> Markup of Units </th>
			<th scope="col"> Profit from Sale </th>
		</tr>
	</thead>
	<%@sales.each do |sale|%>
	<tr>
		<td><a href="/records/<%=sale.record_id%>"><span><%=sale.get_record_info.first.title%></span></a></td>
		<td><%= sale.provide_sale_quantity %></td>
		<td>£<%= sale.record_buying_cost %></td>
		<td>£<%= sale.record_selling_price %></td>
		<td>£<%= sale.record_markup %></td>
		<td>£<%= sale.record_profit %></td>
		<td><form class="edit_button" action="/sales/<%= sale.id %>/edit" method="get">
			<input  type="submit" value="EDIT">
		</form></td>
		<td><form class="delete_button" action="/sales/<%= sale.id %>/delete" method="post">
			<input type="submit" value="DELETE">
		</form></td>
	</tr>
	<%end%>
</table>
<br>
<br>
<table>
	<thead>
		<tr>
			<th scope="col"> Total Cost of Units Sold </th>
			<th scope="col"> Total Price of Units Sold </th>
			<th scope="col"> Total Markup of Units Sold </th>
			<th scope="col"> Total Profit from Sales </th>
		</tr>
	</thead>
	<tr>
		<td>£<%= Sale.total_record_buying_cost %></td>
		<td>£<%= Sale.total_record_selling_price %></td>
		<td>£<%= Sale.total_record_mark_up %></td>
		<td>£<%= Sale.total_profit %></td>
	</tr>
</table>
