<h1>Inventory</h1>

<a href="/records/new"><span>Add New Record</span></a>
<a href="/labels/new"><span>Add New Label</span></a>
<a href="/sales/new"><span>Add New Sale</span></a>

<table>
	<thead>
	<tr>
		<th scope="col">Title</th>
		<th scope="col">Artist</th>
    <th scope="col">Genre</th>
    <th scope="col">Description</th>
    <th scope="col">Label</th>
    <th scope="col">Stock Quantity</th>
	</tr>
	</thead>
  <%@records.each do |record|%>
	<tr>
		<td><a href="/records/<%=record.id%>"><span><%=record.title%></span></a></td>
		<td><%=record.artist%></td>
    <td><%=record.genre%></td>
		<td><%=record.description%></td>
    <td><a href="/records/<%=record.label_id%>"><span><%=record.label.first.name%></span></a></td>
    <td><%=record.provide_stock_quantity%></td>
	</tr>
  <%end%>
</table>
