<a href="/"><span>Back to Inventory</span></a>

<br>

<h1> New Record </h1>

<br>

<div>
  <form action="/records/new" method="post">

    <div>
      <label for="label_name">Label:</label>
      <select id="label_name" name="label_id">
        <option value="<%= 'add_new' %>">Add New Label</option>
        <% for label in @labels %>
        <option value="<%= label.id %>"><%= label.name %></option>
        <% end %>
      </select>
    </div>

    <br>

    <div>
      <div>
        <label for="label_name">Label Name:</label>
        <input type="text" id="label_name" name="name" placeholder="Only for new label"/>
      </div>

      <br>

      <div>
        <label for="location">Label Location:</label>
        <input type="text" id="location" name="location" placeholder="Only for new label"/>
      </div>
    </div>

    <br>

    <div>
      <label for="record_title">Title:</label>
      <input type="text" id="record_title" name="title" required minlength="1"/>
    </div>

    <br>

    <div>
      <label for="artist">Artist:</label>
      <select id="artist" name="artist_id">
        <option value="<%= 'add_new' %>">Add New Artist</option>
        <% for artist in @artists %>
        <option value="<%= artist.id %>"><%= artist.artist_name %></option>
        <% end %>
      </select>
    </div>

    <br>

    <div>
      <label for="artist_name">Artist Name:</label>
      <input type="text" id="artist_name" name="artist_name" placeholder="Only for new artist"/>
    </div>

    <br>

    <div id="genre">
      <label for="genre">Genre(s):</label>
      <br>
      <br>
      <% hash_number = 0 %>
      <% for genre in @all_genres %>
      <input type="checkbox" name=<%="genres"+hash_number.to_s %> value="<%=genre.id%>"> <%=genre.genre_name%>
      <br>
      <% hash_number += 1 %>
      <% end %>
    </div>

    <br>

    <div>
      <label for="genre_name">Genre Name:</label>
      <input type="text" id="genre_name" name="genre_name" placeholder="Only for new genre"/>
    </div>

    <br>

    <div>
      <label for="record_release_date">Release Date:</label>
      <input type="date" id="record_release_date" name="release_date" value="1900-01-01"/>
    </div>

    <br>

    <div>
      <div>
        <label class = "form_label" for="record_stock_quantity">Stock Quantity:</label>
        <input class = "form_input" type="number" id="record_stock_quantity" name="stock_quantity" step="1" min="1" max="1000" value="0">
      </div>

      <br>

      <div>
        <label class = "form_label" for="record_buying_cost">Unit Price:</label>
        <input class = "form_input" type="number" id="record_buying_cost" name="buying_cost" step="0.01" min="1" max="1000" value="0"/>
      </div>

      <br>

      <div>
        <label class = "form_label" for="record_selling_price">Retail Price:</label>
        <input class = "form_input" type="number" id="record_selling_price" name="selling_price" step="0.01" min="1" max="1000" value="0"/>
      </div>
    </div>

    <br>

    <div class = "file_input">
      <label class = "form_label" for="artwork">Upload Album Artwork:</label>
      <input class = "form_input" type="file"
      id="artwork" name="file"
      accept="image/png, image/jpeg"/>
    </div>

    <br>
    <br>

    <div class = "button_input">
      <button>Save Record</button>
    </div>
  </form>
</div>

<br>
<br>
