<h1>Title: <%=@record.first.title%></h1>
<h2>Artist: <%=@record.first.artist%></h2>
<h2>Genre: <%=@record.first.genre%></h2>
<h2>Description: <%=@record.first.description%></h2>
<h2>Stock Quantity: <%=@record.first.provide_stock_quantity%></h2>
<h2>Unit Cost: <%=@record.first.provide_buying_cost%></h2>
<h2>Retail Cost: <%=@record.first.provide_selling_price%></h2>
