<a href="/"><span>Back to Inventory</span></a>
<br>
<h1><%=@record.first.title%></h1>

<table>
  <thead>
    <tr>
      <th scope="col">Album Art</th>
      <th scope="col">Artist</th>
      <th scope="col">Genre</th>
      <th scope="col">Release Date</th>
      <th scope="col">Stock</th>
      <th scope="col">Unit Cost</th>
      <th scope="col">Retail Cost</th>
      <th scope="col">Markup</th>
      <th scope="col">Label</th>
    </tr>
  </thead>
  <tr>
    <td><img class = "album_art" src="/images/album_art/<%=@record.first.file%>" alt="<%=@record.first.title%>"/></td>
    <td><a href="/artists/<%=@record.first.artist.first.id%>"><span><%=@record.first.artist.first.artist_name%></span></a></td>
		<td><%@record.first.get_all_genres.each do |genre|%>
		<a href="/genres/<%=genre.id%>"><span><%=genre.genre_name%></span></a>
		<%end%>
		</td>
    <td><%=@record.first.release_date%></td>
    <td><%=@record.first.provide_stock_quantity%></td>
    <td><%=@record.first.provide_buying_cost%></td>
    <td><%=@record.first.provide_selling_price%></td>
    <td><%=@record.first.markup%></td>
    <td><a href="/labels/<%=@label.first.id%>"><span><%=@label.first.name%></span></a></td>
  </tr>
</table>

<div class="show_button_collection">
  <form class="edit_button" action="/records/<%= @record.first.id %>/edit" method="get">
    <input  type="submit" value="EDIT">
  </form>
  <form class="delete_button" action="/records/<%= @record.first.id %>/delete" method="post">
    <input type="submit" value="DELETE">
  </form>
  <form class="add_stock" action="/records/<%= @record.first.id %>/add_stock" method="get">
    <input type="submit" value="ADD STOCK">
  </form>
  <form class="add_stock" action="/sales/<%= @record.first.id %>/new" method="get">
  <input type="submit" value="ADD SALE">
  </form>
  <div>
