<h1>Inventory</h1>

<br>

<div>
	<a class = "index_link" href="/sales/all"><span>View All Sales</span></a>
	<a class = "index_link" href="/labels/all"><span>View All Labels</span></a>
	<a class = "index_link" href="/artists/all"><span>View All Artists</span></a>
	<a class = "index_link" href="/genres/all"><span>View All Genres</span></a>
</div>

<br>
<br>

<div>
	<a class = "index_link" href="/records/new"><span>Add New Record</span></a>
	<a class = "index_link" href="/sales/new"><span>Add New Sale</span></a>
	<a class = "index_link" href="/labels/new"><span>Add New Label</span></a>
	<a class = "index_link" href="/artists/new"><span>Add New Artist</span></a>
	<a class = "index_link" href="/genres/new"><span>Add New Genre</span></a>
</div>

<br>
<br>

<div>
	<form action="/" method="get">

		<div>
			<label for="search">Search by Title:</label>
			<input type="text" id="search" name="sort"/>
			<button>Sort</button>
		</div>
	</form>
</div>

<br>
<br>

<div>
	<form action="/" method="get">

		<div>
			<label for="sort">Sort by:</label>
			<select default = "" id="sort" name="sort">
				<option style="display:none" disabled selected value> -- Choose Sort Method -- </option>
				<option value='title a-z'>Title(A-Z)</option>
				<option value='title z-a'>Title(Z-A)</option>
				<option value='artist a-z'>Artist(A-Z)</option>
				<option value='artist z-a'>Artist(Z-A)</option>
				<option value='release_date first-last'>Release Date(First-Last)</option>
				<option value='release_date last-first'>Release Date(Last-First)</option>
				<option value='label a-z'>Label(A-Z)</option>
				<option value='label z-a'>Label(Z-A)</option>
				<option value='stock_quantity lowest-highest'>Stock Quantity(Lowest-Highest)</option>
				<option value='stock_quantity highest-lowest'>Stock Quantity(Highest-Lowest)</option>
			</select>

			<button>Sort</button>
		</div>
	</form>
</div>

<br>
<br>
<br>
<br>

<div>
	<table>
		<thead>
			<tr>
				<th scope="col">Album Artwork</th>
				<th scope="col">Title</th>
				<th scope="col">Artist</th>
				<th scope="col">Genre(s)</th>
				<th scope="col">Release Date</th>
				<th scope="col">Label</th>
				<th scope="col">Stock</th>
			</tr>
		</thead>
		<%@records.each do |record|%>
		<tr>
			<td><a href="/records/<%=record.id%>"><img class = "album_art" src="/images/album_art/<%=record.file%>" alt="Image of Vinyl"/></a></td>
			<td><a href="/records/<%=record.id%>"><span><%=record.title%></span></a></td>
			<td><a href="/artists/<%=record.artist.first.id%>"><span><%=record.artist.first.artist_name%></span></a></td>
			<td><%record.get_all_genres.each do |genre|%>
				<a href="/genres/<%=genre.id%>"><span><%=genre.genre_name%></span></a>
				<%end%>
			</td>
			<td><%=record.release_date%></td>
			<td><a href="/labels/<%=record.label_id%>"><span><%=record.label.first.name%></span></a></td>
			<%if record.provide_stock_quantity < 5%>
			<td class = "bad_stock"><%=record.provide_stock_quantity%></td>
			<%elsif record.provide_stock_quantity >= 10%>
			<td class = "good_stock"><%=record.provide_stock_quantity%></td>
			<%else%>
			<td class = "ok_stock"><%=record.provide_stock_quantity%></td>
			<%end%>
			<td>
				<form action="/records/<%= record.id %>/add_stock" method="get">
					<input type="submit" value="ADD STOCK">
				</form>
			</td>
			<td>
				<form action="/sales/<%= record.id %>/new" method="get">
					<input type="submit" value="ADD SALE">
				</form>
			</td>
		</tr>
		<%end%>
	</table>
</div>
