<table>
	<caption>Inventory</caption>
	<thead>
	<tr>
		<th scope="col">Title</th>
		<th scope="col">Artist</th>
    <th scope="col">Genre</th>
    <th scope="col">Description</th>
    <th scope="col">Label</th>
    <th scope="col">Stock Quantity</th>
	</tr>
	</thead>
  <%@records.each do |record|%>
	<tr>
		<td><%=record.title%></td>
		<td><%=record.artist%></td>
    <td><%=record.genre%></td>
		<td><%=record.description%></td>
    <td><%=record.label.first.name%></td>
    <td><%=record.provide_stock_quantity%></td>
	</tr>
  <%end%>
</table>
